@import "../../styles/variables.scss";

fieldset {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
}
.form_basic {
  margin: 2rem auto;
  align-items: center;
  padding: 2rem 1rem;
  border-radius: $borderRadius;
  max-width: 600px;
}
.form_basic input, .form_basic textarea{
  border-radius: 10px;
}
form label{
  padding: 0 .5rem;
}
