@import "../../styles/variables.scss";

fieldset {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
}
.form_basic {
  margin: 2rem auto;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem 1rem;
  border-radius: $borderRadius;
  max-width: 600px;
}
textarea {
  resize: none;
}