@import "../variables.scss";
footer {
  background-color: $secondary;
  padding: 1rem;
}

footer h4 {
  color: $light;
  margin-bottom: 5px;
}
footer li {
  color: $paragraphLight;
  font-size: 0.9em;
}
ul {
  display: inline-block;
}
footer li:hover {
  transition: 0.2s;
  color: $light;
  cursor: pointer;
}
footer h4,
ul {
  text-align: center;
}
.footer_row_1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  grid-gap: 5px;
}

.footer_row_3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
  grid-gap: 5px;
}
.footer_width {
  margin-top: 1rem;
}
.footer_row_3 img {
  border-radius: $borderRound;
  opacity: 0.8;
}

.copyright {
  color: #eff1f394;
  margin-top: 1rem;
  font-size: 0.9em;
}
.footer_logo {
  margin: 1rem 0;
}
