@import "../variables.scss";
.hotel_container {
  max-width: 90%;
  margin: 2rem auto;
}
.hotel_container h2 {
  margin: 1rem 0;
}
.hotel_container p {
  margin: 5px 0;
}
.hotel_details img {
  height: 220px;
}
.hotel_details_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}
.hotel_details_card h3 {
  margin: 0.8rem 0 0.5rem 0;
}
.hotel_details_card h5 {
  line-height: 25px;
}
.hotel_card img {
  height: 110px;
}
.stars {
  color: $primary;
}
.booking_form {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 1rem;

}
.details_flex_wrap img{
  max-width: 450px;
  height: auto;
}
.details_address{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
}
.details_flex_wrap {
  padding: 0 1rem;
}
.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offers {
  margin: 0.2rem 0 1rem 0;
}
.offers h3 {
  margin-bottom: 8px;
}
.offers_container li {
  font-size: 0.9em;
  text-align: left;
}

.offers_container svg {
  padding: 10px 0 10px 0;
  font-size: 2.6em;
}
.hotel_card_search h2 {
  font-size: 0.8em;
}
.hotel_card_search img {
  height: 50px;
  width: 60px;
}
.booking_form input {
  width: 100%;
}

.hotel_card:hover, .featured_background_image:hover{
  transform: scale(1.05);
  transition: all .2s ease-in-out;
  opacity: .9;
}
.hotel_card img:hover{
  opacity: .85;
  transition: all .2s ease-in-out;
}
