@import "./variables.scss";
@import "partials/hotels";
@import "partials/search";
@import "partials/grids";
@import "partials/navbar";
@import "partials/forms";
@import "partials/home";
@import "partials/admin";
@import "partials/login";
@import "partials/howitworks";
@import "partials/footer";
@import "partials/loader";

// General Styling
* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5 {
  color: $dark;
  margin: 0;
}
p {
  color: $paragraph;
  margin: 0;
}
body {
  width: 100%;
  font-family: $Poppins;
  color: $dark;
  background-color: #f1faee;
}
html {
  height: 100vh;
}

#root {
  height: 100%;
}
img {
  border-radius: $borderRadius;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: $light;
}
ul li {
  list-style-type: none;
}
ul {
  padding: 0;
}
/*Custom Scrollbar*/
::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(190, 38, 38), $primary);
  border-radius: 8px;
}

.page_width {
  max-width: 1200px;
}
.Btn {
  border: none;
  background: linear-gradient(#457b9d,#305c78);
  color: $light;
  border-radius: $borderRadius;
  letter-spacing: 1px;
  font-size: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Btn:hover,
.Btn:focus {
  transition: .1s ease-in-out;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.2em);
}
.logout_container {
  display: flex;
}
.success_container{
  width: 180px;
  margin: 1rem auto;
  padding: 1rem;
}

.deleteBtn {
  border: none;
  background: linear-gradient($errorMsg, #b7313c) ;
  color: $light;
  border-radius: $borderRadius;
  letter-spacing: 1px;
  font-size: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-transform: uppercase;
}
.deleteBtn:hover,
.deleteBtn:focus {
  transition: .1s ease-in-out;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  background: linear-gradient($errorMsg, #c73d49a9) ;
}
.action_Btn a {
  background: linear-gradient($primary, rgba(211, 53, 53, 0.9));
}
.home_hero_content a:hover{
  background: linear-gradient($primary, rgba(211, 53, 53, 0.6));
  box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 18px, rgba(0, 0, 0, 0.075) 0px 10px 10px;
}
.contact_hero a:hover{
  background: linear-gradient($primary, rgba(211, 53, 53, 0.8));
  box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 18px, rgba(0, 0, 0, 0.075) 0px 10px 10px;
}
.logged_user {
  border-bottom: 1px solid black;
}
.flex {
  display: flex;
}
.flex_space {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1.1em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.9em;
}
.admin_link {
  margin-bottom: 32px;
}
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 450ms linear 250ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

// Media Screens Querys
@media screen and (max-width: 330px) {
  .grid_hotels {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 345px) {
  .grid_two {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 400px) {
  .hotel_details_card {
    padding: 1rem;
  }
}
@media only screen and (min-width: 550px) {
  .item_carousel img {
    height: 230px;
  }

  .container {
    max-width: 65%;
  }
  .form_basic {
    padding: 4rem 2rem;
  }
  .grid_admin {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero_container {
    height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .home_hero_content {
    padding: 3rem 2rem 1rem 2rem;
  }
  .home_hero_content h1 {
    margin-top: 0;
    font-size: 1.6em;
  }
  .offers_container {
    max-width: 600px;
  }
}
@media only screen and (min-width: 650px) {
  .item_carousel img {
    height: 270px;
  }
  .details_flex_wrap {
    padding: 2rem;
    max-width: 800px;
  }
  .hotel_details_card {
    padding: 2rem;
  }
  .footer_row_1 {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1rem;
  }
  .footer_row_3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .copyright {
    margin: 0;
  }

  .footer_width {
    max-width: 95%;
    margin: 2rem auto 0 auto;
  }
  .grid_hotels {
    grid-template-columns: repeat(3, 1fr);
  }
  .admin_navigation {
    margin: 1rem auto;
  }
  .search_bar_container {
    margin: 3rem auto;
  }
}
// Tablet

@media only screen and (min-width: 768px) {
  .header_container{
    font-size: 1.5em;
    padding: 0 2rem;
    margin-bottom: 1rem;
  }
  .hotel_container h2{
    font-size: 1.5em;
  }
  .footer_width {
    max-width: 90%;
  }
  .container {
    max-width: 90%;
  }
  .admin_link {
    margin: 0 16px 0 0;
  }
  .logout_container {
    display: none;
  }
  input,
  textarea {
    padding: 8px 10px;
  }
  .info_section {
    display: none;
  }
  .home_hero_content {
    padding: 4rem 2rem 1rem 4rem;
  }
  .home_hero_content h1 {
    font-size: 1.7em;
  }
  .home_hero_content h3 {
    font-size: 1.3em;
  }
  .action_Btn a {
    font-size: 1.2em;
  }
  .hero_container {
    height: 400px;
  }
  .featured_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .hotel_featured_card {
    width: 95%;
  }
}

@media only screen and (min-width: 992px) {
  .search_bar_container input{
    padding: .8rem 2rem;
  }
  .form_basic {
    max-width: 800px;
  }
  .grid_hotels {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer_width {
    max-width: 80%;
  }
  .hotel_container {
    max-width: 85%;
  }
  .search_bar_container {
    max-width: 85%;
  }
  .container {
    max-width: 900px;
  }
  fieldset {
    max-width: 70%;
  }
  .hotel_details_flex {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
  }
  .details_flex {
    justify-content: center;
    margin: 0;
    padding: 1rem;
  }
  .hotel_details {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .details_address {
    margin-top: 0;
    align-items: flex-start;
  }
  .hotel_details h5 {
    margin: 0;
  }
  .hotel_details img {
    height: auto;
    width: 450px;
  }
  .details-p {
    max-width: 450px;
  }
  .hotel_details_card {
    padding: 0 1rem;
    justify-content: flex-start;
  }
  .details_flex_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: baseline;
  }
  .details_flex_wrap h3 {
    margin-bottom: 0.5rem;
  }
  .grid_admin {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact_hero {
    height: 600px;
  }
  .hero_container {
    height: 500px;
  }
  .home_hero_content {
    padding: 6rem 2rem 2rem 5rem;
  }
  .home_hero_content h1 {
    font-size: 2.2em;
  }
  .home_hero_content h3 {
    font-size: 1.6em;
    margin: 0.7rem 0 3rem 0;
  }
  .action_Btn a {
    font-size: 1.3em;
    padding: 1rem 2rem;
  }
  .featured_container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .hotel_featured_card {
    width: 100%;
  }
  form {
    font-size: 1.1em;
  }
  .details_flex_wrap {
    max-width: 830px;
    flex-direction: row-reverse;
  }
}

@media only screen and (min-width: 1200px) {
  .hero_container {
    height: 680px;
  }
  .home_hero_content {
    padding: 10rem 2rem 2rem 10rem;
  }
  .action_Btn a {
    padding: 1rem 3rem;
  }
  .home_hero_content h1 {
    font-size: 2.6em;
  }
}
