@import "./variables.scss";
* {
  box-sizing: border-box;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  color: $dark;
}
p {
  color: $paragraph;
}
body {
  width: 100%;
  font-family: $Poppins;
  color: $dark;
  background-color: #f1faee;
}
html {
  height: 100vh;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
  color: $light;
}
ul li {
  list-style-type: none;
}
ul {
  padding: 0;
}

.Btn {
  border: none;
  background-color: #457b9d;
  color: $light;
  border-radius: $borderRadius;
  letter-spacing: 1px;
  font-size: 1.1em;
}

.flex {
  display: flex;
}
.flex_space {
  display: flex;
  justify-content: space-between;
}
