@import "../../../styles/variables.scss";

.info_section {
  height: 100px;
  background-color: $bg_section;
}

.account_icon {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  align-items: center;
}
.hotel-featured-card {
  text-align: center;
  color: white;
  margin: 2rem auto;
}

.hotel-featured-card img {
  width: 100%;
}

.featured_hotels_container{
  padding: .5rem;
  margin: 2rem auto;
  max-width: 85%;
}
h4 {
  text-align: left;
  margin-top: 10px;
}
.hero_container{
  background: url('../../../../public/images/hero_header.jpg') center center/cover
  no-repeat;
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
  justify-content: space-evenly;
  object-fit: contain;
  text-align: center;
}
.hero_container h1{
  color: $light;
  margin-top: 4rem;
}
.hero_container a{
  padding: .6rem 1.5rem;
  border-radius: $borderRadius + 3px;
}

