@import "../../../styles/variables.scss";

.admin_navigation ul li{
    display: inline-block;
}

.admin_navigation a{
    color: $dark;
    width: 100%;
    display: inline-block;
}
.admin_navigation {
    margin: 1rem 1rem 0 0;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    max-width: 600px;
  }
  .admin_navigation li {
    padding: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 100%;
    text-align: left;
    margin-bottom: .3rem;
  }
  .admin_navigation ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .admin_navigation svg {
    padding: 10px;
    font-size: 2.6em;
  }
  .admin_active{
    background-color: green;
  }
  .admin_items_wrapper{
    margin: 2rem auto 2rem auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: $borderRadiusBtn;
    padding: 1rem;
  }
  .admin_dashboard {
    margin: 1rem auto;
  }
  
  .info_container span{
    font-size: 1.1em;
    font-weight: 600;
    color: $dark;
  }
  .info_container h4{
    font-weight: 600;
  }
  .info_container h5{
    margin: .5rem 0;
  }
